{
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
//    "space-before-function-paren": 0,
    "react/prop-types": 0, // disabled because prop checking is done with TS
//    "react/jsx-handler-names": 0,
//    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0, // prop checking is done with TS
    "import/export": 0, // some exports are never used, which is fine since this is a lib
    "no-unused-vars": "off", // this fails to recognize that imported types were used
    "@typescript-eslint/no-unused-vars": "error" // this works with types, replaces the one above
  }
}
